{% extends "RRHH/base.html" %}
{% load static %}
    
{% block content %}
<link rel="stylesheet" href="{% static 'RRHH/style.css' %}">
<div class="container-fluid">
    <div class="row main-container">
        <div class="col-md-3 main-content text-center">
            <div class="login_form">
                <h2>Registrar entrada y salida</h2>
                <form method="post" class="form-group">
                    {% csrf_token %}
                    <input type="text" name="username" id="username" class="form__input" placeholder="Folio Empleado">
                    <input type="password" name="password" id="password" class="form__input" placeholder="Contraseña">
                    <div class="btn-container">
                        <input type="button" value="Entrada" class="btn" id="entrada-btn">
                        <input type="button" value="Salida" class="btn" id="salida-btn">
                    </div>
                </form>
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            </div>
        </div>
        <div class="col-md-9 employee-slots">
            <h2>Empleados Registrados</h2>
            <div class="slots-container" id="slots-container">
                
            </div>
        </div>
    </div>
</div>
<script src="{% static 'RRHH/js/horario.js' %}"></script>
{% endblock %}
